<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<bean id="businessLogic" class="com.demo.BusinessLogicClass">
	</bean>

	<bean id="secondryLogin" class="com.demo.aspects.LogginAspects">
	</bean>

   <aop:config>
      
      <aop:aspect ref="secondryLogin">
      
      	<aop:pointcut expression="execution(* do*(..))" id="LoginPointCut"/>
   
      	<aop:before method="logBeforMethod" pointcut-ref="LoginPointCut"/>
      	<aop:after method="logAfterMethod" pointcut-ref="LoginPointCut"/>
      
      </aop:aspect>   
   
   </aop:config>

</beans>