<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="init" default-destroy-method="destroy">

	<bean name="employeeId" class="com.demo.Employee" scope="singleton" init-method="initMethod" destroy-method="destroyMethod">
		<constructor-arg index="0" type="java.lang.String" 	name="employeeId" value="1001"> </constructor-arg>
		<constructor-arg index="1" type="java.lang.String"  name="employeeName" value="Rajeev">	</constructor-arg>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.demo.Address" scope="prototype">
		<property name="street" value="Pandav Nagar Complex"></property>
		<property name="city" value="New Delhi"></property>
		<property name="country" value="Inida"></property>
	</bean>
	

</beans>