<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="employeeId" class="com.demo.Employee">
		<!-- <property name="employeeId" value="1001"></property> <property name="employeeName" 
			value="Dummy Employee Name"></property> -->
		<constructor-arg index="0" type="java.lang.String"
			name="employeeId" value="1001">
		</constructor-arg>
		<constructor-arg index="1" type="java.lang.String"
			name="employeeName" value="Rajeev">
		</constructor-arg>
		<constructor-arg index="2" ref="address">
		</constructor-arg>

		<property name="mobileNumber">
			<list>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
				<value>78789798798</value>
			</list>
			<set>
				<value></value>
			</set>

			<map>
				<entry key="" value=""></entry>
				<entry key-ref="" value-ref="" value-type=""></entry>
			</map>


		</property>
	</bean>


	<bean id="address" class="com.demo.Address">

		<property name="street" value="Pandav Nagar Complex"></property>
		<property name="city" value="New Delhi"></property>
		<property name="country" value="Inida"></property>
	</bean>


</beans>